.notification-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: '1rem';
  padding: '15px';
  width: 100%;
}

.error-bg{
    background-color: var(--color-lightred);
}

.close-button {
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.error-text{
    color: var(--color-red);
}

.close-button:hover {
  background-color: rgba(256, 256, 256, 30%);
  color: var(--color-red);
  cursor: pointer;
}

.notification-card .message {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Inter';
  margin: 10px;
}

.success-bg{
    background-color: var(--color-lightgreen);
}

.success-text{
    color: var(--color-green);
}