.button {
  background-color: var(--color-darkblue);
  border: none;
  color: var(--color-white);
  padding: 11.5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
