.dashboard {
  background-color: #f5f5f5;
  display: grid;
  grid-template-areas:
  'main-chart main-chart main-chart main-chart  metrics metrics'
  'main-chart main-chart main-chart main-chart side-chart1 side-chart1'
  'main-chart main-chart main-chart main-chart side-chart1 side-chart1'
  'sector-chart1 sector-chart1 sector-chart2 sector-chart2 side-chart2 side-chart2'
  'sector-chart1 sector-chart1 sector-chart2 sector-chart2 side-chart2 side-chart2';
  /* 'sector-chart1 sector-chart1 sector-chart1 sector-chart2 sector-chart2 sector-chart2'
  'sector-chart1 sector-chart1 sector-chart1 sector-chart2 sector-chart2 sector-chart2'; */

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
  flex-grow: 1;
  grid-gap: 1rem;
  padding: 2rem;
}

.dashboard > * {
  padding: 1rem;
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.2);
  background-color: white;
}

.metrics {
  grid-area: metrics;
}

.main-area {
  grid-area: main-chart;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.main-chart {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar-chart-title{
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 24px;
}

.side-chart1 {
  grid-area: side-chart1;
}

.side-chart2 {
  grid-area: side-chart2;
}

.metrics {
  font-size: 2rem;
  font-weight: 600;
  /* padding: 1rem; */
  padding: 1.5rem;
}

.metric-info {
  display: flex;
  justify-content: space-between;
}


.metric-label {
  font-size: 1.2rem;
  color: gray;
}

.side-chart-title{
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 20px;
  padding-left: 5px;
}

.main-chart-title{
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 20px;
  padding-left: 16px;
}

.number {
  font-size: 24px;
  animation: count-up 2s;
}

.sector-chart-item{
  width: 100%;
}

.sector-chart1 {
  grid-area: sector-chart1;
}

.sector-chart2 {
  grid-area: sector-chart2;
}