.user-card-style img {
  height: 200px !important;
  object-fit: fill;
}
.user-card-style{
  height: 330px;
}
.user-card-name{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}