.container-div {
  height: fit-content;
  box-sizing: border-box;
  background-color: white;
  padding: 2.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 4rem 8rem;
}

.project-container {
  height: fit-content;
  display: flex;
  gap: 30px;
}

.team-members-container {
  height: fit-content;
  margin-top: 20px;
  display: flex;
}

.team-members {
  width: 50%;
  height: fit-content;
  flex-wrap: wrap;
}

.team-member-title {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-box {
  transform: translateY(-9px);
}

.title-box {
  padding-top: 0px;
}

.title-box {
  padding-top: 0px;
}

.team-member-detail {
  display: flex;
  flex-wrap: wrap;
  max-height: 300px;
  overflow-y: scroll;
  gap: 10px;
  height: fit-content;
  margin-top: 10px;
  padding: 20px 5px;
}

.team-member-detail .user-horizontal-card-container {
  width: 200px;
}

.technology {
  width: 50%;
  flex-wrap: wrap;
  height: fit-content;
}

.technology-title {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-dropdown {
  margin-right: 50px;
}

.title-box {
  width: 266px;
  height: 50px;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  align-items: center;
}
.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  max-height: 300px;
  overflow-y: scroll;
  margin-top: 10px;
  padding: 20px 5px;
}

.case-study-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 42px;
  height: fit-content;
}

.case-study-comp {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.case-study-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

.image-container {
  height: 180px;
  width: 240px;
}

.detail-container {
  width: 100%;
}

.id-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.id-container button {
  padding: 8px 20px;
}
.project-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.project-text {
  font-size: 24px;
  font-weight: bold;
}

.date-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  font-size: 14px;
  font-weight: bold;
}
.case-study-button button {
  padding: 8px 20px;
}

.table-row-item {
  width: 80px;
  /* border: 1px solid black */
}

.project-name-update {
  display: flex;
  justify-content: space-between;
}
