.engagement-card-style img {
  max-height: 200px !important;
  object-fit: fill;
}
.engagement-card-style{
  height: 350px;
}
.engagement-name{
  overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
}