.people-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.container-in-people {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-whitesmoke);
  height: 90%;
  overflow: scroll;
}
.header-in-people {
  height: 10%;
}
