.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:100%;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
}

.error-text {
  margin: 10px;
}
