.case-study-card-container{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 400px;
}
.case-study-image {
  width: 25%;
  height: 60px;
  border-radius: 15px 15px;
}
.case-study-name {
  font-family: 'Poppins', sans-serif;
}
.case-study-upload-date {
  font-family: 'Poppins', sans-serif;
}
.case-study-detail-box{
  width: 75%;
}