.footer{
    position: fixed;
    bottom: 0;
    background-color: var(--color-white);
    width: 100%;
    height: 127px;
    padding-left: 106px;
    padding-bottom: 18px;
    padding-top: 19px;
}

.footer-img{
    height: 90px;
    width: 245px;
}

